# Frontend
/node_modules
/.next
/out

# Backend
/backend/node_modules
/backend/.env

# Testing
/coverage

# Production
/build
/backend/build
/backend/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*
backend/.env

# Vercel
.vercel

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts